body {
    font-family: 'Arial', sans-serif;
    color: orange;
    padding-left: 3rem;
    background-color: black;
}

button{
    margin-top: 1%;
    color: orange;
    font-size: larger;
    font-weight: bold;
    padding: 4px;
    background-color: black;
    border-color: orange;
}

label{
    font-weight: bold;
}

form {
    width: 300px;
    margin: 0 auto;
}

label, input, textarea, select {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
